.experienceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experienceContainer > div {
  display: flex;
  flex-direction: column;
  flex-grow: grow;
}

.experienceContainer h3,
.experienceContainer h4 {
  margin-bottom: 10px;
}

.experienceContainer p {
  font-size: 16px;
  width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .experienceContainer {
    flex-direction: row;
    /* justify-content: space-around; */
  }
  .experienceContainer > div {
    flex-basis: 45%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}