
.container {
  height: 100vh;
  /* background-color: #444444; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.innerContainer {
  margin: 20px;
}

h1 {
  /* color: white; */
}